{% extends "item_layout.html" %}

{% block nav_opt %}
<nav class="navbar navbar-expand-md navbar-light">
    <span class="navbar-brand"><h3>Calendar</h3></span>
</nav>
{% endblock %}


{% block content %}

<iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FBerlin&src=a2hhdGl3YWRhbml0ZXNoOTNAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4ubnAjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%230B8043" style="border-width:0" width="800" height="800" frameborder="0" scrolling="no"></iframe>

{% endblock %}
